<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue.js constructor demo</title>
</head>
<body>
<div id="app" class="container">
    <h1>
        v-html directive
        <small><a target="_blank" href="http://vuejs.org/api/directives.html#v-html">docs</a></small>
    </h1>

    <p>This directive updates a nodes <code>innerHTML</code>. This means that html <strong><em>will</em></strong> be rendered.</p>
    <p>Using v-html with user-supplied data can be dangerous. It is suggested that you only use v-html when you are absolutely sure about the security of the data source, or pipe it through a custom filter that sanitizes untrusted HTML.</p>
    <hr />
    <h3>Example</h3>

    <div class="form-group">
        <textarea class="form-control" v-model="html"></textarea>
        <textarea class="form-control" v-model="css"></textarea>
    </div>
    <p v-html="html"></p>
    <h3>Data</h3>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            html: '<div class="element"> This is a message for <a href="#">John Doe</a>, please update your email address.</div>',
            css: ''
        },
        mounted () {
            styleTag = document.createElement('style');
            styleTag.type = "text/css";
            styleTag.appendChild(document.createTextNode(''));
            document.head.appendChild(styleTag);
        },
        watch: {
            css: function(css) {

                styleTag.textContent = css;
            }
        }
    });
</script>
</body>
</html>